*/
*.bash*
*.*
.gitconfig
!.config/
!.config/eww/**
!.config/eww/
!.config/nvim/**
!.config/nvim/
!.config/alacritty/**
!.config/alacritty/
!.config/hypr/
!.config/hypr/**
!.config/wofi/
!.config/wofi/**
!.config/notifs
!.config/notifs/**
!.config/wpaperd
!.config/wpaperd/**
!Pictures/
!Pictures/Wallpapers
!Pictures/Wallpapers/*.*
!pics/
!pics/*.*
!readme.md
